@import url("../../CSS/Default.css");

.rectangle {
    display: inline-block;
    width: 100px;
    border-width: 1px!important;
    border-color: var(--BorderColor);
    border-style: solid;
    color: var(--TextColor);
    margin-top: 15%;
    padding-top: 5%;
    bottom:0;
    position: relative;
}

.Line1 {
    margin-top: 70%;
}

.Line0 {
    margin-top: 50%;
}

.Line2 {
    margin-top: 90%;
}

.rec1 {
    padding-bottom: 30%;
}

.rec2 {
    padding-bottom: 10%;

}

.rec0{
    padding-bottom: 50%;
}