@import url("../../CSS/Default.css");

:root{
    --BorderSize: 1px;
    --BorderStyle: solid;
}

.Header{
    text-align: center;
    color: var(--TextColor);
    width: 100%;
}

.YourScoreList{
    color: var(--TextColor);
    text-align: center;
    border: 3px;
    border-color: var(--BorderColor);
    border-style: var(--BorderStyle); 
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.YourScoreItem{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: var(--BorderSize);
    border-color: var(--BorderColor);
    border-style: var(--BorderStyle);
}

.YourScoreItem-Borderless{
    border:0px;
    border-color: var(--BorderColor);
    border-style: var(--BorderStyle); 
}

.PaddedItem{
    padding-top: 20px;
    padding-Bottom: 20px;
}

.YourScore{
    width: 100%;
}