@import url("../../CSS/Default.css");
 
 th  {
    text-align: left;
    padding:5px;
    padding-left: 15px;
    background-color: var(--TableHeaderBackground);
    color: var(--WhiteText);
  }

  td {
    border-collapse: collapse;
    text-align: left;
    padding:5px;
    padding-left: 15px;
    background-color: var(--TableCellBackground) ;
  }

  table {
    height: 100%;
    width: 100%;
    color: rgb(31, 31, 31);
  }

  .HeightContainer {
    height:100%;
    margin: 5px;
  }

  table th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  table th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

 /* table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
*/