 th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding:10px;
  }

  table {
    border: 1px solid black;
    border-collapse: collapse;
    
    width: 70%;
  }