:root {
    --SelectedUserBackground: #508CA4;

    --TableHeaderBackground: #508CA4;

    --PageBackGround: rgb(246, 246, 246);
    --BorderColor: #2D4658 ;
    --TextColor: #212227;

    --WhiteText: rgb(255, 255, 255);

    --Fullwidth: 100%;
    --FontStyle: Calibri;

    --NavigationBackground: #2D4658;
    --NavText: #E6E6E6;

    --ButtonColor: #E4EEF2;
    --ButtonHoverColor: #CADDE3;
    --ButtonTextColor: #31555E;
}

.SubmitButton{
    background-color: var(--ButtonColor) !important;
    border: none;
    color: var(--ButtonTextColor)!important;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 12px;
}

.SubmitButton:hover{
    background-color: var(--ButtonHoverColor) !important;
}

html {
    background-color: var(--PageBackGround);
}

.SelectedUser {
    background-color: var(--SelectedUserBackground);
}

.PageBackground{
    background-color: var(--PageBackGround);
}

.LeftBox {
    height: 60vh;
}

.YourScoreCard{
    height: 100%;
}

.floatRight{
    margin-left: auto !important;
    align-content: flex-end !important;
}