:root {
    --BackgroundLayer2: #92A1BA;
    --BackgroundLayer1: #748CAB;
    --PageBackGround: #8397B3;
    --borderColor: #2D4658 ;
    --TextColor: #212227;
    --fullwidth: 100%;
  }

html {
    background-color: var(--PageBackGround);
}



.DefaultCardLayer2 {
    background-color: var(--BackgroundLayer2);
    color: var(--TextColor);
    border-color: var(--borderColor) !important;
}

.DefaultCardLayer1 {
    background-color: var(--BackgroundLayer1);
    color: var(--TextColor);
    border-color: var(--borderColor) !important;
}

.PageBackground{
    background-color: var(--PageBackGround);
}